{% extends 'base.html' %}

{% block title %}{{object.name}}{% endblock %}

{% block content %}
    <h2>Clan: {{object.name}}</h2>
    {% if canjoin %}
        <form method="POST" action="{% url 'clan_join' object.id%}">
                {% csrf_token %}
                <p>
                    <input type="submit" value="Enter"/>
                </p>
        </form>
    {%endif%}
    {% if removedUser is not None %}
        <p>Hai rimosso ----> {{ removedUser.username }}</p>
    {%endif%}
    {% if request.GET.joined %}
        <p>Sei entrato a far parte del clan</p>
    {%endif%}
    <h4>Members:</h4>
    <ul>
        {% for member in members %}
            <li>
                {% if object.clanMaster == member%}
                    CM -
                {% endif %}
                {{member.username}}
            </li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated and user.clan is not None and user.clan.clanMaster == user  %}
        <form method="POST" action="{% url 'clans_fight' object.id%}">
                {% csrf_token %}
                <p>
                    <input type="submit" value="Fight"/>
                </p>
        </form>
    {%endif%}
    {% if object == user.clan %}
        <form method="POST" action="{% url 'clan_leave' %}">
            {% csrf_token %}
            <p>
                <input type="submit" value="Leave"/>
            </p>
        </form>
    {% endif %}

{% endblock %}