{% extends "base.html" %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <p>
            <input type="submit" value="Save"/>
        </p>
    </form>

    <h4>Members:</h4>
    <ul>
        {% for member in clan.members.all %}
            <li>
                {% if clan.clanMaster == member%}
                    CM -
                {% endif %}
                {{member.username}}
                {% if clan.clanMaster != member %}
                    <form method="POST" action="{% url 'clans_kick' member.username%}">
                        {% csrf_token %}
                        <p>
                            <input type="submit" value="Remove"/>
                        </p>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <form method="POST" action="{% url 'clans_delete'%}">
        {% csrf_token %}
        <p>
            <input type="submit" value="Delete Clan"/>
        </p>
    </form>

    {% load toasts %}
    {% toast_if request.GET.kicked "Utente rimosso" %}
    {% toast_if request.GET.created "Hai creato il clan" %}

{% endblock %}
