{% extends "base.html" %}

{% block title %}Modifica Clan{% endblock %}

{% block content %}
    {% load postlinks %}
    {% hiddenform %}

    <h3>Modifica il tuo clan</h3>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
            <a class="waves-effect waves-light btn"  {% submitParentOnClick %} >
                <i class="large material-icons">save</i>
            </a>
    </form>

    <h4>Membri:</h4>
    <ul class="collection">
        {% for member in clan.members.all %}
            <li class="collection-item">
            <div>

                {{member.username}}
                {% if clan.clanMaster == member%}
                    <span class="badge">
                        Clan Master
                    </span>
                {% endif %}
                {% if clan.clanMaster != member %}

                <form method="POST" class="secondary-content" action="{% url 'clans_kick' member.username%}">
                    {% csrf_token %}

                    <a class=" waves-effect waves-circle"  {% submitParentOnClick %}>
                        <i class="material-icons">delete</i>
                    </a>
                </form>
            </div>

                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <form method="POST" action="{% url 'clans_delete'%}">
        {% csrf_token %}
            <a class="waves-effect waves-light btn"  {% submitParentOnClick %}>
                Cancella Clan
            </a>
    </form>

    {% load toasts %}
    {% toast_if request.GET.kicked "Utente rimosso" %}
    {% toast_if request.GET.created "Hai creato il clan" %}

{% endblock %}
