{% load static %}
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h6>Applicazione</h6>
                <p class="description">
                    <b>ClanWars manager</b> consente di organizzare le tue partite di Clash of Clans assieme ai tuoi amici
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h6>Autori</h6>
            <ul class="authors">
                    <li>Andrea Atzori</li>
                    <li>Davide Corda</li>
                    <li>Nicola Manca</li>
                    <li>Francesco Zoccheddu</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2019 Copyright
            <img class="logotype right" src="{% static "images/logotype.svg" %}">
        </div>
    </div>
</footer>