{% extends 'base.html' %}

{% block title %}Guerra {{war}} {% endblock %}

{% block content %}

    <h2>Guerra </h2>
    <h4>{{war.date}}</h4>
    <h5>Enemy: {{war.enemyClanName}}</h5>
    {% if war.allyClan.clanMaster == user %}
        <form method="POST" id="deleteForm" action="{% url 'wars_delete' war.pk %}">
            {% csrf_token %}

                <a class="waves-effect waves-light btn-large" onclick="$('#deleteForm').submit()"><i class="material-icons left">delete</i>Elimina War</a>

        </form>
    {% endif %}
    <!-- <p>Ally vs Enemy | Ally Destruction % | Enemy Destruction % | Result</p> -->
    <ul class="collection with-header">
        <li class="collection-header"><h5>Nome | Distruzione</h5></li>
    {% for battle in war.battles.all %}
        <li class="collection-item">
            <div>{{battle.ally}} vs {{battle.enemy.username}} | {{battle.allyDestruction}}% | {{battle.enemyDestruction}}% |
            {% if battle.allyVictory %}
                Vinta!
            {% endif %}
            {% if battle.ally == user or battle.ally.clan.clanMaster == user %}

                    <a href="#!" class="secondary-content waves-effect"><i class="material-icons">edit</i></a>
                    <a href="#!" class="secondary-content waves-effect"><i class="material-icons">delete</i></a>

            {% endif %}
            </div>
        </li>

    {% endfor %}
    </ul>

    <form method="POST" id="addForm" action="{% url 'wars_add_battle' war.pk %}">
            {% csrf_token %}

                <a class="btn-floating btn-large waves-effect waves-light right" onclick="$('#addForm').submit()"><i class="material-icons">add</i></a>

    </form>


{% endblock %}