{% extends 'base.html' %}

{% block title %}{{war}}{% endblock %}

{% block content %}

{% load postlinks %}
{% hiddenform %}

<h3>Guerra</h3>
<div class="row">
    <div class="col">
        <h6>
            <i class="material-icons left">calendar_today</i>
            {{war.date}}
        </h6>
        <h6>
            <i class="material-icons left">people</i>
            {{war.enemyClanName}}
        </h6>
    </div>
    {% if war.allyClan.clanMaster == user %}
    {% url 'wars_delete' war.pk as deleteUrl %}
    <a class="waves-effect waves-light btn-large red right" {% submitOnClick deleteUrl %}>
        <i class="material-icons left">delete</i>
        Elimina Guerra
    </a>
    {% endif %}
</div>

<h4>Battaglie</h4>
{% if war.battles.count > 0 %}
<table class="striped centered">
    <thead>
        <tr>
            <th>
                Alleato
            </th>
            <th>
                Nemico
            </th>
            <th>
                Danni inflitti
            </th>
            <th>
                Danni subiti
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        {% for battle in war.battles.all %}
        <tr>
            <td>
                {{battle.ally.username}}
            </td>
            <td>
                {{battle.enemy.username}}
            </td>
            <td>
                {{battle.allyDestruction}}%
            </td>
            <td>
                {{battle.enemyDestruction}}%
            </td>
            <td>
                {% if battle.allyVictory %}
                <span class="new badge" data-badge-caption="vinta"></span>
                {% endif %}
            </td>
            <td>
                {% if battle.ally.username == user.username or battle.ally.clan.clanMaster == user %}
                {% url 'battles_delete' battle.pk as deleteBattleUrl %}
                <a class="waves-effect waves-circle red-text tooltipped right" data-position="bottom"
                    data-tooltip="Elimina battaglia" {% submitOnClick deleteBattleUrl %}>
                    <i class="material-icons">delete</i>
                </a>
                <a class="waves-effect waves-circle tooltipped right" data-position="bottom"
                    data-tooltip="Modifica battaglia" href="{{battle.get_absolute_url}}">
                    <i class="material-icons">edit</i>
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<blockquote>
    Nessuna battaglia
</blockquote>
{% endif %}

{% if canAddBattle %}
{% url 'wars_addbattle' war.pk as addBattleUrl %}
<a class="btn-floating btn-large waves-effect waves-light right tooltipped" data-position="bottom"
    style="margin-top:1.5em" data-tooltip="Aggiungi battaglia" {% submitOnClick addBattleUrl %}><i
        class="material-icons">add</i></a>
{% endif %}

{% load toasts %}
{% toast_if request.GET.created "Guerra creata" %}
{% toast_if request.GET.deleted "Battaglia eliminata" %}

{% endblock %}