<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h3>Wars</h3>
<div class="collection">
    {% for war in wars %}
    <a class="collection-item" href={{war.get_absolute_url}}>
        {{war}}
        {% if war.won %}
        <div class="chip">
            Vinta
        </div>
        {% endif %}
    </a>
    {% endfor %}
</div>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'user_login' %}">login</a> |
<a href="{% url 'user_signup' %}">signup</a> |
{% endif %}

<a class = "btn waves-effect" href="{% url 'clans_list' %}">Sfida un altro clan!</a>


{% load toasts %}
{% toast_if request.GET.deleted "Guerra eliminata" %}

{% endblock %}