{% extends "base.html" %}

{% block title %}Battaglia{% endblock %}

{% block content %}

{% load postlinks %}
{% hiddenform %}

{% load materializecss %}


<h3> Battaglia</h3>
<a class="waves-effect waves-light btn" href="{{battle.war.get_absolute_url}}">
    <i class="material-icons left">arrow_back</i>
    Torna alla guerra
</a>

<div class="section">
    <form method="POST">
        {% csrf_token %}
        {{form|materializecss}}
        <button class="btn-floating btn-large waves-effect waves-light right tooltipped" data-position="bottom"
            data-tooltip="Salva modifiche" type="submit">
            <i class="material-icons">save</i>
        </button>
    </form>
</div>

{% url 'battles_delete' battle.pk as deleteBattleUrl %}
<a class="waves-effect waves-light btn-large red" {% submitOnClick deleteBattleUrl %}>
    <i class="material-icons left">delete</i>
    Elimina battaglia
</a>

{% load toasts %}
{% toast_if request.GET.created "Hai creato la battaglia" %}

{% endblock %}