{% extends "base.html" %}

{% block content %}

    <h2>Battaglia</h2>

    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
            <a href="{{battle.war.get_absolute_url}}" class="breadcrumb">Guerra</a>
            <a href="." class="breadcrumb">Battaglia</a>
            </div>
        </div>
    </nav>

    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <p>
            <input type="submit" value="Save"/>
        </p>
    </form>



    <form method="POST" action="{% url 'battles_delete' battle.pk %}">
        {% csrf_token %}
        <p>
            <input type="submit" value="Cancella Battaglia"/>
        </p>
    </form>

{% load toasts %}    
{% toast_if request.GET.created "Hai creato la battaglia" %}

{% endblock %}

